<app-nav></app-nav>
    <div class="contactWrapper">
        <div class="contactUs">
            <div class="sayHi">
                <h4 id="tagLine">Have any Query? </h4>
                <p>Connect with us without any hesitation and someone from our team will get in touch with you within</p>
            </div>
        </div>
        <div class="contactBox">
            <div class="leftBox">
                <div id="pcIcon">   
                    <img src="../../assets/pc-icon.png" alt="">  
                </div>
                <div class="contactItem">
                    <div class="contactchild">
                        <img src="../../assets/location.png" alt="">
                        <span>27th Km Milestone,
                            Delhi-Meerut Expressway,
                            P.O. Adhyatmik Nagar,
                            Ghaziabad - 201009
                        </span>
                    </div>
                    <div class="contactchild">
                        <img src="../../assets/phone-call.png" alt="">
                        <span>
                            +91 8077XXXXXX
                        </span>
                    </div>
                </div>
            </div>
            <div class="rightBox">
                <div class="form">
                    <form>
                        <!-- <input required class="form-input" type="email" placeholder="Email">
                        <textarea required class="form-input" id="" cols="30" rows="6" placeholder="Your Message"></textarea> -->
                        <button class="btn"><a href="mailto:pcClub@gmail.com">click here to send mail</a></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
