.btn{
  display: flex;
  justify-content: center;
}
.btn button{
  margin-top: 60px;
}
.card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 100px;
  width: 205px;
  height: 290px;
  background: rgb(38 166 154);
  padding: 1.7rem 1.5rem;
  transition: box-shadow .3s ease, transform .2s ease;
  border: 2px solid rgb(79, 144, 140);
  border-radius: 10px;
 }
 
 .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .2s ease, opacity .2s ease;
 }
 
 /*Image*/
 .card-avatar img{
  --size: 160px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform .2s ease;
  margin-bottom: 5px;
 }
 
 
 /*Card footer*/
 .card-social {
  transform: translateY(200%);
  display: flex;
  justify-content: space-around;
  width: 100%;
  opacity: 0;
  transition: transform .2s ease, opacity .2s ease;
 }
 
 .card-social__item {
  list-style: none;
 }
 .card-social__item img{
  width: 15px;
 }
 .card-social__item svg {
  display: block;
  height: 18px;
  width: 18px;
  fill: #000000;
  cursor: pointer;
  transition: fill 0.2s ease ,transform 0.2s ease;
 }
 
 /*Text*/
 .card-title {
  color: #fff;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
 }
 
 .card-subtitle {
  color: #fff;
  font-size: 0.8em;
 }
 
 /*Hover*/
 .card:hover {
  box-shadow: 0 8px 50px #23232333;
 }
 
 .card:hover .card-info {
  transform: translateY(-5%);
 }
 
 .card:hover .card-social {
  transform: translateY(100%);
  opacity: 1;
 }
 
 .card-social__item svg:hover {
  fill: #000000;
  transform: scale(1.1);
 }
 
 .card-avatar:hover {
  transform: scale(1.1);
 }