<div> 
    <app-nav></app-nav>
    
    <div id="new-post">
        <button data-target="model1" class="btn modal-trigger" >add new Post</button>
    </div>
        <div *ngFor="let doc of tempData;let i=index" class="postWrapper">
            <img src={{doc.img}}>
            <div class="content">
                <h4 class="postTitle">{{doc.title}}</h4>
                <p class="postContent">{{doc.content}}</p>
                <h4>{{doc.date}}</h4>
                <button class="btn" (click)="deletePost(doc.id,doc.title)">Delete Post</button>
            </div>
        </div>
    </div>
    <div id="model1" class="modal">
     <div class="modal-content">
        <label for="image">select image</label>
        <input type="file" (change)="selectImage($event)">
        <button class="btn" (click)="uploadImage()">upload Image</button>
        <form [formGroup]="TempForm">
            <label for="name">Title</label>
            <input type="text" formControlName="title"> 
            <label for="email">content</label>
            <textarea type="text" formControlName="content"></textarea>
            <label for="date">Select Date</label>
            <input type="date" formControlName="date">
            <button class="btn" (click)="createPost()"> Post event</button>
        </form>
        
     </div>
    </div>
