.postWrapper {
    display: flex;
    margin: 2rem;
    align-items: center;
    padding: 1rem;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.postWrapper img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}
.content {
    margin-left: 3rem;
}
.postContent {
    position: relative;
    bottom: 0.6rem;
}    
h3 {
    text-align: center;
}
.btn {
    /* margin-left: 10rem; */
    margin-right: 0rem;
}
#new-post {
    width: fit-content;
    margin: auto;
}

@media(max-width: 824px) {
    .postWrapper {
        flex-direction: column;
    }
    .content {
        margin: auto;
    }
    .content h4 {
        text-align: center;
    }
    .content p {
        text-align: center;
    }
}
